@layout Shared.MainLayout
@page "/"

@if (itemLists == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <div class="promo">
            @*<div class="form-inline my-2 my-lg-0  search">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </div>*@
        </div>
        <Virtualize Context="menuItens" Items="@itemLists">

            <div class="row col">
                <div class="container-fluid meals-title">
                    <h4>@menuItens.Name</h4>
                </div>

                <div class="container-fluid">
                    <div class="list-group list-group-flush">
                        <Virtualize Context="item" Items="@menuItens.Items">
                            <div class=" list-group-item list-group-item-action align-items-start"
                                 @onclick="@( async (e) => await OpenModelSelectdItem(item))">
                                <div class="row">
                                    <div class="col-2">
                                        <img src="imgs/placeholder_img.png" alt="..." class="rounded mx-auto d-block float-left"
                                             style="width:100px; height: 100px; ">
                                    </div>
                                    <div class="col-8">

                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">@item.Name</h5>
                                        </div>
                                        <p class="mb-1">
                                            @item.Description
                                        </p>
                                        <small class="text-muted">
                                            @item.Likes
                                            <span class="oi oi-heart" title="icon name" aria-hidden="true"></span>
                                        </small>
                                    </div>
                                    <div class="col-2 text-center">
                                        <label class="col-form-label col-form-label-lg float-right">@item.DisplayPrice</label>
                                    </div>
                                </div>
                            </div>

                        </Virtualize>
                    </div>
                </div>
            </div>
        </Virtualize>
    </div>
    @if (Cart.MealOrdered != null && Cart.MealOrdered.Any())
    {
     <button class="float" @onclick="GoToCheckout" >
        <div style="vertical-align: middle;">
            <span>Chechkout</span>
            <span class="oi oi-cart" aria-hidden="true"></span>
            <span class="badge badge-light">@Cart.MealOrdered.Count()</span>
        </div>

    </button>   
    }

    @if (selectedItem != null)
    {
        <!-- Modal -->
        <div class="modal fade" id="mealModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">@selectedItem.Name</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>
                    <div class="modal-body">
                        <spa>
                            @selectedItem.Description
                        </spa>
                        <img class="card-img-top" data-src="holder.js/100px180">

                        <div class="list-group list-group-flush" style="margin-top: 12px;">
                            <Virtualize Context="extraItem" Items="@selectedItem.SourceExtraOptions">
                                <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-cente custom-control custom-checkbox">
                                    <div class="col">
                                        <input type="checkbox"  @onchange="( async (e) =>  { await OnExtraSelected(e, extraItem); } )"
                                         class="custom-control-input" id="customCheck@(extraItem.Id)"
                                               >
                                        @* @onchange="( async (e) =>  { await OnExtraSelected(e, extraItem); } )" *@
                                        @*@bind-value="extraItem.Checked"*@
                                        <label class="custom-control-label" for="customCheck@(extraItem.Id)">@extraItem.Name</label>
                                    </div>
                                    <span class="badge  badge-pill">@extraItem.DisplayString</span>
                                </div>
                            </Virtualize>                            
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-6 float-left">
                            <div class="input-group ">
                                <div class="input-group-prepend">
                                    <button class="btn btn-outline-secondary" type="button" @onclick="((e) => MinusQuantity(selectedItem))">
                                        <span class="oi oi-minus" title="icon name" aria-hidden="true"></span>
                                    </button>
                                </div>
                                <input type="text" class="form-control" disabled style="text-align: center;" @bind-value="selectedItem.Quantity" >
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" @onclick="((e) => PlusQuantity(selectedItem))">
                                        <span class="oi oi-plus" title="icon name" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 float-right">

                            <button type="button" class="btn btn-primary float-right"
                            @onclick="OnAddToCartClicked"  >Add to cart - <span>@selectedItem.OrderPrice</span></button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    }

}