@using Models


<div class="row col">
    <div class="container-fluid">
        <h4>Your meal</h4>
        <div class="list-group list-group-flush">
            @if (CartModel != null)
            {
                <Virtualize Context="item" Items="@CartModel.MealOrdered">
                    <div class=" list-group-item align-items-start">
                        <div class="row">
                            <div class="col-2">
                                <img src="imgs/placeholder_img.png" alt="..." class="rounded mx-auto d-block float-left"
                                     style="width:100px; height: 100px; ">
                            </div>
                            <div class="col-8">

                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">@item.Name</h5>
                                </div>
                                <p class="mb-1">
                                    @item.Description
                                </p>
                                <small class="text-muted">

                                    <b>Extra added:</b>
                                    <span>@(string.Join(", ", @item?.CartExtraOptions?.Select(s => s.Name)))</span>
                                </small>
                            </div>
                            <div class="col-2 text-center">
                                <label class="col-form-label col-form-label-lg float-right">@item.OrderPrice</label>
                            </div>
                        </div>
                    </div>

                </Virtualize>
            }
        </div>
    </div>
</div>
@code {

    [Parameter]
    public CartModel CartModel { get; set; }
}
